nav {
  display: flex !important;
  justify-content: space-between !important;
  background-color: #e6e6d1;
  padding: .5rem
}

.auth-btn-container {
  padding: .25rem;
}

.first-btn {
  margin-right: 5px !important
}

.home-content-container {
  padding: 1rem;
}

.home-querySection {
  display: flex;
  align-items: center;
}

.home-querySection h1 {
  margin-bottom: 0rem;
}

.home-querySection select {
  height: 35px;
  margin-left: 5px;
}

.question-card {
  padding: .25rem;
}